@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,600&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}

#hero h2{
    font-weight: 500;
    font-size:50px;
}

#hero .boton-leer-mas{
    margin: 200px 0 0px 0;
}

.boton-leer-mas{
    font-size: 1.5em;
    font-weight:bold;
    padding: 10px 20px;
    border-radius:10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #3cb3c851;
    transition: 0.4s;
}

.boton-leer-mas:hover{
    background-color:#65dcf1f8;
    transform: 0.4s;
}

.container{
    max-width: 1100px;
    margin: auto;
}

header{
    height: 100px;
    background:#3cb3c86c;
    padding: 0 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo{
    color: #054c58f8;
    font-size:2.5em;
    font-weight:200;
}

.menu a{
    text-decoration: none;
    font-weight: 500;
    font-size:1.4em;
    color: #054c58;
    padding: 0px 10px;
    transition: 0.4s;
}

header a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #3cb3c8f8;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size:30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order:1
}

#parte-2 h2{
    font-weight: 500;
    font-size:2.9em;
    color: #37b9d0f8;
}

#parte-2 p{
    text-align: justify;
}



/* === RESPONSIVE === */
@media(max-width: 768px){
    /* == HEADER == */
    .mostrar-menu,
    .esconder-menu{
        display:block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #054c58;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        color: #fff;
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        font-size:40px;
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}

#check{
    display: none;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./asset/atardecerkay2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h2{
    color: #9fd3ddf8;
    margin: 0 0 100px 0;
}

#hero button{
    margin: 200px 0 0 0;
}

#parte-2 .container{
    text-align: center;
    padding: 200px 12px;
}

.secciones {
    background-color: #65dcf1f8;
    text-align: center;
}

.secciones .container{
    padding: 150px 12px;
}

.secciones h2{
    animation-name: example;
    position: relative;
    animation-duration: 4s;
    animation-delay: 2s;
    margin-top: 0;
}

@keyframes example {
    0%  {color:#b3f649f8; left:0px; top:0px;}
    25% {color:#c8502f; top:0px;}
    50% {color:#1132ea6c; top:50px;}
    75% {color:yellowgreen; left:0px; top:0px;}
    100%{color:black;left:0px; top:0px;}
}

.secciones h3{
    color: #fff;
    margin-bottom: 70px;
}

.secciones p{
    display: none;
}

.secciones .carta{
    background-position: center center;
    background-size: cover;
    padding: 30px;
    margin: 50px;
    border-radius: 20px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./asset/indumentaria.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./asset/artic-pesca.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./asset/seguridad-1.jpg);
}

.banner{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./asset/kayak-arbol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner .container{
    color: #fff;
    padding-bottom: 35px;
}

/* FORMULARIO */

.contacto{
    margin: 80px auto;
    background: #3cb3c8f8;
    padding: 50px 0;
    color: #fff;
}

.contacto h4{
    text-align: center;
    font-size: 30px;
    margin: 0 0 20px 0;
}

.contacto form{
    max-width: 80%;
    margin: 0 auto;
}

.datos-form{
    display: flex;
}

.datos-form{
    padding: 10px;
    flex: 1;
}

.datos-form div{
    padding:  10px;
    flex: 1;
}

form label{
    display: block;
    margin: 0 0 10px 0;
}

form input,
form textarea{
    background: #215e69f8;
    border-radius: 10px;
    border: 2px solid #238192f8;
    padding: 10px 5px;
    outline: 0;
    color: #fff;
    outline: 0;
    width: 100%;
}

form  input:focus,
form textarea:focus{
    border-color: #3cb3c8f8 ;
    box-shadow: 0 0 0 1px #054c58f8;
}

form input::placeholder,
form textarea::placeholder{
    color: #fff;
}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contacto .boton-formulario{
    margin-left: 20px;
}

footer{
    height: 100px;
    background:#3cb3c86c;
}

footer p{
    color: #054c58;
    text-align: center;
}